<DOCTYPE html>
  <head>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
  </head>
  <body>
    <h1>Raleigh & Rails</h1>
<%= link_to 'Raleigh Facts',controller: 'facts' %>
   </body>
   </html>
