  <head>
  
  </head><link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <br/>
  <center>
    <h1>Edit Fact</h1></center>
    <div id='new'>
      <%= render 'form' %>
    </div>
  <br/>
