<!DOCTYPE html>
<head>
</head>
<body>
  <br/>
  <center>
    <h5>New Fact</h5></center>
    <div id='new'>
      <%= render 'form' %>
      <%= link_to 'Back', facts_path %>
    </div>
  <br/>
</body>
</html>
