/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*_____________________________________________________________________*/
 /* BASE STYLES */

html {
    background-image:url(raleigh_5.png) no-repeat center center fixed;
    position:cover;
    display:flex;
    justify-content:space-around;
    vertical-align:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

body{
  // background-color:white;
  // height:80%;
  // width:80%;
  font-family:monospace;
  font-size:30px;
  /* background-color:white; */
  height:60%;
  width:70%;
}

h1,
h2,
h3,
h4,
h5,
h6{
  background-color:white;
  padding:1%;
  border-radius:15px;
}

p{
  background-color:white;
  padding:3%;
  border-radius:15px;
}


/* CUSTOMIZED CLASSES AND IDS */
