// Place all the styles related to the Facts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
    background-image:url('http://imgur.com/mgx0VxP') no-repeat center center fixed;
    position:cover;
    display:flex;
    justify-content:space-around;
    vertical-align:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
