html {
    /*background-image:url('http://imgur.com/mgx0VxP') no-repeat center center fixed;
    position:cover;
    display:flex;
    justify-content:space-around;
    vertical-align:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;*/
    font-family:'Quicksand', sans-serif !important;
}

body{
  width:80%;
  height:90%;
}
