
<DOCTYPE html>
  <head>
    <title>RaleighNewcomer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <!-- <img src='http://i.imgur.com/cdc15lz.png' style='position:fixed;top:0px;left:0px; width:103%; height:100%; position:cover; z-index:-1; margin-left:-1.5%; margin-right:-1.5%;'> -->
  </head>

  <body>
    <%= yield %>
  </body>
  </html>
